header{
    font-family: 'Permanent Marker', cursive;
    background-color:#263238;
    color: rgb(235, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: .25em;
    font-size: 30px;
    width: 100%;
    box-sizing: border-box;

}
header>svg{
    font-size: 30px;
}
header>p{
    margin: 0;
}

.nav-menu{
    font-size: 30px;
    box-sizing: border-box;
    padding-top: .5em;
    height: 100vh;
    position: absolute;
    left: -150%;
    top: 0;
    background-color: rgb(1, 1, 1);
    color: #818181;
    padding-inline: 1em;
    gap: .75em;
    display: flex;
    flex-direction: column;
    z-index: 100;


}
.nav-menu a{
    color: #818181;
    text-decoration: none;
    border-bottom: 1px solid white;
}
.expanded{
    left: 0;
}
.exit{
    align-self: end;
    font-size: 30px;
    cursor: pointer;
}
.link-container{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
/* .link-container>a{
    
} */